/*--------------------------------------------------*/
/*      PRESTO
/*--------------------------------------------------*/
body { overflow-y: scroll; }
/*--------------------------------------------------*/
/*      RESULT
/*--------------------------------------------------*/
#result .pop {
border-radius:3px;
box-shadow:0 0 2px#111;
}
#result .close, #result .approve, #result .cancel {
text-shadow: #444 1px 1px 2px;
border-radius:3px;
box-shadow:0 0 2px#111;
}