<? $params = preg_split('/,/', PARAMS); 
// HEADER & MENU
////////////////////////////////////////////////////////////////////////////////
?>
<div id="header-admin">
    <div id="header-container-admin">
        <div id="logo-admin">
            <a id="uygulama" href="/admin">
                <img src="/templates/admin/images/logo.png" alt="uygulama" />
            </a> 
            <a id="project-link" href="/" target="_blank">
                <?=u::translate('View Project');?>
            </a>
        </div>
        <div id="language-bar">
            <i><?=u::translate('Current language')?>: <?=LOCALE?> . <?=LANG?></i>
            <?if(MULTILINGUAL):?> ||
            <?foreach (u::languages() as $k=>$i):?>
            <a onclick="changeLang('<?=$k?>')" title="<?=$i?>" <?=$k==LANG?'class="selected"':''?>><?=$k?></a>
            <?endforeach;?>
            <?endif;?>
        </div>
        <?if(ACCESS>=1):?>
        <a href="/admin/logout" id="logout"><?=u::translate('Logout')?></a>
        <div id="nav-admin">
            <a href="/admin/project"><?=u::translate('Project')?></a>
            <?if(ACCESS>=3):?>
            <a href="/admin/languages"><?=u::translate('Language Settings')?></a>
            <a href="/admin/themes"><?=u::translate('Themes')?></a>
            <a href="/admin/templates"><?=u::translate('Page Templates')?></a>
            <?endif;?>
            <a href="/admin/pages"><?=u::translate('Pages')?></a>
        </div>
        <?endif;?>
    </div>
</div>
<script>
    function changeLang(i){
        tool.post({'url':'/json/<?=TEMPLATE?>/language','data':'lang='+i,'onComplete':function(){ location.href = location.href;}});
    }
</script>
<?
// PAGES
////////////////////////////////////////////////////////////////////////////////
if(!ACCESS):
// =============================================================================
// LOGIN 
// =============================================================================
?>
<div id="content"></div>
<div id="aside">
    <form method="post" action="/json/<?=TEMPLATE?>/login">
        <h2><?=u::translate('Administration Panel')?></h2>
        <label>
            <b><?=u::translate('Username')?>:</b>
            <input id="username" name="username" type="text" />
        </label>

        <label>
            <b><?=u::translate('Password')?>:</b>
            <input id="password" name="password" type="password" />
        </label>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Login')?>" />
        </label>
    </form>
</div>
<script>$(document).ready(function() { $('input[name=username]').focus(); });</script>
<?else:
// =============================================================================
// CHECK IS WRITABLE
// =============================================================================
if(!is_writable('data/config.php')){?>
<h1><?=u::translate('Error: <u>data/</u> folder is not writable. Please set <u>data/</u> folder writing permission.')?></h1>
<? } else switch ($params[0]):
// =============================================================================
// PROJECT 
// =============================================================================
default:
case 'project':
switch ($params[1]):
// =============================================================================
// DASHBOARD 
// =============================================================================
default:
?>
<div id="content" class="dashboard">
    <a href="/admin/project,accounts"><?=u::translate('Accounts')?></a>
    <?if(ACCESS>=3):?>
    <a href="/admin/themes"><?=u::translate('Themes')?></a>
    <a href="/admin/templates"><?=u::translate('Page Templates')?></a>
    <?endif;?>
    <a href="/admin/pages"><?=u::translate('Pages')?></a>
    <?if(ACCESS>=3):?>
    <a href="/admin/languages"><?=u::translate('Languages')?></a>     
    <a href="/admin/languages,translations"><?=u::translate('Translations')?></a>     
    <a href="/admin/project,settings"><?=u::translate('Settings')?></a>     
    <a href="/admin/project,seo"><?=u::translate('SEO')?></a>
    <?endif;?>
</div>
<script>
    $('#content a').each(function(i){
        $('<b>').css({
            'background-position': '-'+(i%4*64)+'px -'+(Math.floor(i/4)*64)+'px'
        }).prependTo(this);
    });
</script>
<?
break;
// =============================================================================
// SETTINGS 
// =============================================================================
case 'settings':
?>
<div id="content">
    <form method="post" action="/json/<?=TEMPLATE?>/project">
        <h3><?=u::translate('Settings')?></h3>
        <div class="label">
            <label>
                <input type="checkbox" class="switch" name="ajax" value="1" <?=AJAX?'checked':''?>>
                       <?=u::translate('AJAX Mode')?>
            </label>
            <i><?=u::translate('If AJAX mode is activated, system work with XHTTP request.')?></i>
        </div>
        <div class="label">
            <label>
                <input type="checkbox" class="switch" name="development" value="1" <?=DEVELOPMENT?'checked':''?>>
                       <?=u::translate('Development Mode')?>
            </label>
            <i><?=u::translate('If development mode is activated, system does not compress js, css, html files.')?></i>
        </div>
        <label>
            <b>Analytics:</b> 
            <input type="text" name="analytics" value="<?=ANALYTICS?>" />
            <i><a href="http://www.google.com/analytics/" target="_blank"><?=u::translate('Google Analytics Code')?></a>
                <?=u::translate('[ex: #UA-012346]')?></i> 
        </label>
        <label>
            <b><?=u::translate('Cookieless Domain:')?></b> 
            <input type="text" name="cookieless" value="<?=COOKIELESS?>" />
            <i><a href="http://cookieless.org/" target="_blank">http://cookieless.org</a> <?=u::translate('[ex: uygulama.cookieless.org]')?></i>
        </label>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Save')?>" />
        </label>
    </form>
</div>
<script>
    /*
     *$(document).ready(function() { tool.form(1); });
    function developmentmode(el){
        if(el.checked){
            $('development').set('value',1);
        } else {
            $('development').set('value',0);
        }
    }*/
</script>
<?
break;
// =============================================================================
// ACCOUNTS 
// =============================================================================
case 'accounts':
?>
<div id="content">
    <form method="post" action="/json/<?=TEMPLATE.'/'.implode(',',$params)?>">
        <?if(ACCESS >= 3):?>
        <h3><?=u::translate('Project Admin')?></h3>
        <p>The user access and change all project data.</p>
        <label>
            <b><?=u::translate('Username')?>:</b>
            <input name="admin" type="text" value="<?=ADMIN?>" />
            <i><?=u::translate('Admin username')?></i>
        </label>
        <label>
            <b><?=u::translate('Password')?>:</b>
            <input name="apassword" type="password"/>
            <i><?=u::translate('Admin password')?></i>
        </label>
        <label>
            <b><?=u::translate('Confirm password')?>:</b>
            <input name="arepassword" type="password"/>
        </label> 
        <hr>
        <h3><?=u::translate('Project Editor')?></h3>
        <p>The user just access and change pages data.</p>
        <div class="label">
            <b><?=u::translate('Editorial')?>:</b>
            <label>
                <input type="checkbox" name="editorial" value="1" <?=EDITORIAL?'checked':''?>>
                       <?=u::translate('Do you want to create an editor account?')?>
            </label>
            <i><?=u::translate('Editors only have access to page editing.')?></i>
        </div>
        <div id="editorial-panel">
            <?else: echo '<div>'; endif;?>
                <label>
                    <b><?=u::translate('Username')?>:</b>
                    <input name="editor" type="text" value="<?=EDITOR?>" />
                    <i><?=u::translate('Editor username')?></i>
                </label> 
                <label>
                    <b><?=u::translate('Password')?>:</b>
                    <input name="epassword" type="password"/>
                    <i><?=u::translate('Editor password')?></i>
                </label> 
                <label>
                    <b><?=u::translate('Confirm password')?>:</b>
                    <input name="erepassword" type="password"/>
                </label> 
            </div>
            <label>
                <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
                <input type="submit" value="<?=u::translate('Save')?>" />
            </label>
    </form>
</div>
<script>
    $(document).ready(function(){ 
        $('#editorial-panel').css('display', $('input[name=editorial]').attr('checked')?'block':'none');
        $('input[name=editorial]').change(function(){
            $('#editorial-panel').slideToggle();
        });
    });
</script>
<?
break;
// =============================================================================
// SEO 
// =============================================================================
case 'seo':
?>
<div id="content">
    <form method="post" action="/json/<?=TEMPLATE?>/project">
        <h3><?=u::translate('Search Engine Optimization')?></h3>
        <label>
            <b><?=u::translate('Additional Meta Tags')?></b> 
            <textarea name="metatags"><?=METATAGS?></textarea>
            <i><a href="http://www.google.com/webmasters/" target="_blank">http://www.google.com/webmasters/</a></i>
            <i><a href="http://siteexplorer.search.yahoo.com/" target="_blank">http://siteexplorer.search.yahoo.com/</a></i>
            <i><a href="http://www.alexa.com/siteowners" target="_blank">http://www.alexa.com/siteowners</a></i>
        </label>
        <label>
            <b>robots.txt:</b> 
            <textarea name="robots"><?=$page->robots?></textarea>
            <i><a href="http://www.google.com/support/webmasters/bin/answer.py?hl=en&answer=156449&from=35237&rd=1" target="_blank">robots.txt</a></i>
        </label>
        <label>
            <b>humans.txt:</b> 
            <textarea name="humans"><?=$page->humans?></textarea>
            <i><a  href="http://humanstxt.org/" target="_blank">humans.txt</a></i>
        </label>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Save')?>" />
        </label>
        <div class="clearfix"></div>
        <hr>
        <h3><?=u::translate('Site Maps')?></h3>
        <label class="sitemaps">
            <b><?=u::translate('Sitemap')?>:</b>
            <a class="item" href="http://<?=DOMAIN?>/sitemap.xml" target="_blank">http://<?=DOMAIN?>/sitemap.xml</a>
            <i><?=u::translate('Project sitemap url')?></i>
            <b><?=u::translate('Sitemap index')?>:</b>
            <a class="item" href="http://<?=DOMAIN?>/sitemapindex.xml" target="_blank">http://<?=DOMAIN?>/sitemapindex.xml</a>
            <i><?=u::translate('Project sitemap index url for subpages')?></i>
            <b><?=u::translate('Sitemap ping')?>:</b>
            <a class="item" href="http://www.google.com/webmasters/tools/ping?sitemap=http://<?=DOMAIN?>/sitemap.xml" target="_blank"><?=u::translate('Google sitemap ping')?></a>
            <a class="item" href="http://search.yahooapis.com/SiteExplorerService/V1/ping?sitemap=http://<?=DOMAIN?>/sitemap.xml" target="_blank"><?=u::translate('Yahoo sitemap ping')?></a>
            <a class="item" href="http://webmaster.live.com/webmaster/ping.aspx?siteMap=http://<?=DOMAIN?>/sitemap.xml" target="_blank"><?=u::translate('Bing sitemap ping')?></a>
            <a class="item" href="http://www.google.com/webmasters/tools/ping?sitemap=http://<?=DOMAIN?>/sitemapindex.xml" target="_blank"><?=u::translate('Google sitemap index ping')?></a>
            <a class="item" href="http://search.yahooapis.com/SiteExplorerService/V1/ping?sitemap=http://<?=DOMAIN?>/sitemapindex.xml" target="_blank"><?=u::translate('Yahoo sitemap index ping')?></a>
            <a class="item" href="http://webmaster.live.com/webmaster/ping.aspx?siteMap=http://<?=DOMAIN?>/sitemapindex.xml" target="_blank"><?=u::translate('Bing sitemap index ping')?></a>
            <i><?=u::translate('Search Engine\'s sitemap ping links')?></i>
        </label>
    </form>
</div>
<?
break;
endswitch;?>
<div id="aside">
    <div id="menu-admin">
        <a href="/admin/project,accounts" class="<?=$params[1]=='accounts'?' selected':''?>"><?=u::translate('Accounts')?></a>
        <?if(ACCESS>=3):?>
        <a href="/admin/project,settings" class="<?=$params[1]=='settings'?' selected':''?>"><?=u::translate('Settings')?></a>
        <a href="/admin/project,seo" class="<?=$params[1]=='seo'?' selected':''?>"><?=u::translate('SEO')?></a>
        <?endif;?>
    </div>
</div>
<?
break;
// =============================================================================
// LANGUAGES 
// =============================================================================
case 'languages':
switch($params[1]):
default:?>
<div id="content">
    <form method="post" action="/json/<?=TEMPLATE?>/languages">
        <h3><?=u::translate('Languages')?></h3>
        <label>
            <b><?=u::translate('Multilingual')?>:</b>  
            <select id="multilingual" name="multilingual">
                <option value="0"<?=!MULTILINGUAL?'selected="selected"':''?>><?=u::translate('No')?></option>
                <option value="1"<?=MULTILINGUAL?'selected="selected"':''?>><?=u::translate('Yes')?></option>
            </select>
            <i><?=u::translate('Is the project multilingual?')?></i>
        </label>
        <label>
            <b><?=u::translate('Default language')?>:</b> 
            <select id="defaultlang" name="defaultlang">
                <?foreach (u::languages() as $k=>$i):?>
                <option value="<?=$k?>"<?=$k==DEFLANG?'selected="selected"':''?>><?=$i?></option>
                <?endforeach;?>
            </select>
            <i><?=u::translate('If the client browser does not support selected languages, the project will be displayed in default language.')?></i>
        </label>
        <hr>
        <div class="checkboxes">
            <h3><?=u::translate('Supported languages')?>:</h3>
            <?foreach (u::languages(true) as $k=>$i): // onchange="deflangs(this)"
            $checked = ($k==DEFLANG||strstr(SUPPORTEDLANGS, $k))?'checked="checked"':''; ?>
            <label>
                <input id="<?=$k?>" name="supportedlangs[]" type="checkbox" value="<?=$k?>" title="<?=$i?>" <?=$checked?> />
                       <?=$i?>
            </label>
            <?endforeach;?>
            <i><?=u::translate('Check the languages you wish to write in.')?></i>
        </div>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Save')?>" />
        </label>
    </form>
</div>
<div id="aside">
    <div id="menu-admin">
        <a class="selected" href="/admin/languages"><?=u::translate('Languages')?></a>
        <a href="/admin/languages,translations"><?=u::translate('Translations')?></a>
    </div>
</div>
<script>
    //var _complete = function(){ location.href =location.href; };
    $(document).ready(function() { 
        $('.checkboxes :checkbox').change(function(){
            if($(this).attr('checked'))
                $('#defaultlang')
            .append('<option value="'+$(this).val()+'">'+$(this).attr('title')+'</option>');
            else
                $('#defaultlang option[value='+ $(this).val() +']').remove();
        });
    });
</script>
<?
break;
// =============================================================================
// TRANSLATIONS 
// =============================================================================
case 'translations':
$params[2] = $params[2] ? $params[2] : 'lib';
$params[3] = $params[3] ? $params[3] : 'uygulama';
?>
<div id="content">
    <form method="post" action="/json/<?=TEMPLATE?>/translations">
        <h3><?=u::translate('Translations')?></h3>
        <label>
            <b><?=u::translate('Dictionaries')?>:</b>
            <select name="dictionary">
                <?foreach (u::dictionaries() as $k=>$i):?>
                <option value="<?=$i?>"<?=$i==$params[2].','.$params[3]?'selected="selected"':''?>><?=$k?></option>
                <?endforeach;?>
            </select>
            <i><?=u::translate('Select a template or a library dictionary')?></i>

        </label>
        <h3><?=sprintf(u::translate('Dictionary of %s'), $params[2].', '.$params[3])?></h3>
        <?
        if(($gettext = u::gettext($params[2], $params[3]))) 
        foreach($gettext as $key=>$word): ?>
        <label class="translation">
            <b><?=$word->def?></b>
            <textarea name="word[<?=$key?>]" class="translation"><?=$word->$lang?></textarea>
        </label>
        <? endforeach; ?>
        <label>
            <input name="type" type="hidden" value="<?=$params[1]?>" />
            <input name="part" type="hidden" value="<?=$params[2]?>" />
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader"/>
            <input type="submit" value="<?=u::translate('Save')?>" />
        </label>
    </form>
</div>
<div id="aside">
    <div id="menu-admin">
        <a href="/admin/languages"><?=u::translate('Languages')?></a>
        <a class="selected" href="/admin/languages,translations"><?=u::translate('Translations')?></a>
    </div>
</div>
<script>
    $(document).ready(function() { 
        $('select[name=dictionary]').change(function(){
            location.href = "/admin/languages,translations,"+$(this).val();
        });
    });
</script>
<?
break;
endswitch;
break;
// =============================================================================
// THEMES 
// =============================================================================
case 'themes':?>
<div id="content" class="themes">
    <h3><?=u::translate('Themes')?></h3>
    <?foreach (u::themes() as $i):?>
    <div class="theme">
        <img src="/themes/<?=$i?>/thumb.png" alt="<?=$i?>" class="theme" />
        <span><?=$i?></span>
        <a class="button" href="/<?=$i?>.thm" target="_blank"><?=u::translate('Preview')?></a>
        <a class="button theme" rel="<?=$i?>"><?=u::translate('Apply')?></a>
        <a class="button" href="http://<?=DOMAIN?>/themes/<?=$i?>.zip"><?=u::translate('Download')?></a>
    </div>
    <?endforeach;?>
</div>
<div id="aside">
    <form>
        <h3 class="top"><?=u::translate('Current Theme')?></h3>
        <div id="selected">
            <div class="theme">
                <img class="theme" src="/themes/<?=THEME?>/thumb.png" alt="active theme" >
                <span><?=THEME?></span>
            </div>
        </div>
        <hr>
        <h3><?=u::translate('Upload New Theme')?></h3>
        <label>
            <b><?=u::translate('Theme')?>:</b>
            <input type="file" name="theme" 
                   data-post="/json/admin/<?=$params[0]?>,<?=$params[1]?>" 
                   data-complete="complete(result, file, input, area)" 
                   data-type="zip"
                   title="<?=u::translate('Browse')?>" 
                   multiple>
        </label>
        <hr>
        <h3><?=u::translate('Logo and Icons')?></h3>
        <label>
            <b><?=u::translate('Logo')?>:</b>
            <img src="/logo.png" alt="logo" />
            <input type="file" name="logo" 
                   data-post="/json/admin/<?=$params[0]?>,logo" 
                   data-complete="reload(result, file, input, area)" 
                   data-type="jpg,png,gif"
                   title="<?=u::translate('Browse')?>" 
                   multiple>
        </label>
        <label>
            <b><?=u::translate('Favicon')?>:</b>
            <img src="/favicon.ico" alt="favicon" />
            <input type="file" name="favicon" 
                   data-post="/json/admin/<?=$params[0]?>?>,favicon" 
                   data-complete="reload(result, file, input, area)" 
                   data-type="ico"
                   title="<?=u::translate('Browse')?>" 
                   multiple>
        </label>
    </form>
</div>
<script>
    $('a.theme').click(function(e){
        var item = $(this);
        tool.post({'url':'/json/<?=TEMPLATE?>/theme','data':'page=<?=$params[1]?>&theme='+item.attr('rel'),'onComplete':function(r){
                if(r.code == 200) {
                    $('#selected').empty();
                    var theme = $('<div>').addClass('theme').appendTo($('#selected'));
                    $('<img>').attr({'class':'theme','src':item.parent().find('img').attr('src')}).appendTo(theme);
                    $('<span>').html(item.parent().find('span').html()).appendTo(theme);
                    $('#selected').hide().fadeIn();
                } else tool.result(r.code,r.status,r.message,r.fields,r.redirect,r.debug);
            }
        });
    });
    var complete = function(result, file, input, area){
        //console.log(result, file, input, area);
        location.href = location.href;
    };
    var reload = function(result, file, input, area){
        //console.log(area.prev());
        area.prev().attr('src',area.prev().attr('src')+'?'+Math.random());
    };
</script>
<?break;
// =============================================================================
// TEMPLATES 
// =============================================================================
case 'templates':?>
<div id="content" class="templates">
    <h3 class="top"><?=u::translate('Page Templates')?></h3>
    <?foreach (u::templates() as $i):?>
    <div class="template">
        <img src="/templates/<?=$i?>/thumb.png" alt="<?=$i?>" class="template" />
        <span><?=$i?></span>
        <a class="button" href="http://<?=COOKIELESS?>/templates/<?=$i?>.zip"><?=u::translate('Download')?></a>
    </div>
    <?endforeach;?>
</div>
<div id="aside">
    <?if(TEMPLATEUPLOAD):?>
    <form>
        <h3><?=u::translate('Upload New Page Template')?></h3>
        <label>
            <b><?=u::translate('Template')?>:</b>
            <input type="file" name="template" 
                   data-post="/json/admin/<?=$params[0]?>,<?=$params[1]?>" 
                   data-complete="complete(result, file, input, area)" 
                   data-type="zip"
                   title="<?=u::translate('Browse')?>" 
                   multiple>
        </label>
    </form>
    <? endif; ?>
</div>
<script>
    var complete = function(result, file, input, area){
        //console.log(result, file, input, area);
        location.href = location.href;
    };
</script>
<?break;
// =============================================================================
// PAGES 
// =============================================================================
case 'pages':
//echo '<pre>'.print_r($page,1).'</pre>';
?>
<div id="content">
    <form method="post" action="/json/<?=TEMPLATE?>/pages,set">
        <h3><?=u::translate('Pages')?></h3>
        <div id="items"></div>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Save')?>" />
        </label>
        <div class="clearfix"></div>
    </form>
    <?if(ACCESS >= 3):?>
    <form method="post" action="/json/<?=TEMPLATE?>/pages,add" data-complete="item(r)" >
        <h3><?=u::translate('New Page')?></h3>
        <label>
            <input type="text" name="urn" value="" />
            <i><?=u::translate('Write a page name what do you want to add.')?></i>
        </label>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Add')?>" />
        </label>
    </form>
    <?endif;?>
</div>
<div id="aside">
    <?if(ACCESS >= 3):?>
    <form method="post" action="/json/<?=TEMPLATE?>/info">
        <h3><?=u::translate('Project Info')?></h3>
        <label>
            <b><?=u::translate('Title')?>:</b> 
            <input type="text" name="title" value="<?=$page->title->$lang?>" />
        </label>
        <label>
            <b><?=u::translate('Copyright')?>:</b> 
            <input type="text" name="copyright" value="<?=$page->copyright->$lang?>" />
        </label>
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Save')?>" />
        </label>
    </form>
    <?endif;?>
    <div class="clearfix"></div>
    <div id="menu-admin">
        <a href="/data.zip"><?=sprintf(u::translate('Click here to backup the %s folder.'),'<b>/data</b>')?></a>
    </div>
</div>
<script>
    var LANG = '<?=$lang?>';
    var DEFPAGE = '<?=DEFPAGE?>';
    var item = function(i,a){
        $('<div id="'+i.ID+'" class="item">').append(
        '<b class="handler">&nbsp;</b>'
        ,'<input type="text" name="title['+i.ID+']" value="'+ (i[LANG] ? i[LANG] : '') +'">'
        ,$('<a href="/admin/page,'+i.ID+'">')
        .html('<?=u::translate("Edit")?>')
        ,a?$('<a class="remove">').html('<?=u::translate("Remove")?>')
        .click(function(){
            remove(0,i.ID)
        }):''
        ,$('<a class="select">')
        .html(i.ID == DEFPAGE ? 
            '<?=u::translate("Main Page")?>' 
        : '<?=u::translate("Set as Main Page")?>')
        .addClass(i.ID == DEFPAGE ? 'selected' : '')
        .click(function(){
            def(i.ID)
        })
        ,'<i>urn: '+i.ID+'</i>')
        .appendTo('#items');
    };
    var remove = function(confirm, ID){
        if(confirm == 1){
            $.ajax({
                url     : '/json/<?=TEMPLATE."/".implode(",",$params)?>,remove',
                type    : 'post',
                data    : 'ID='+ID,
                dataType: 'json',
                success : function(r){
                    if(r.code == 200) $('#'+ID).fadeOut();
                }
            }); 
        } else tool.confirm('<?=u::translate("Confirmation")?>',
        '<?=u::translate("You lose the item\'s all data!")?>','remove(1,\''+ID+'\')');
    };
    var def = function(ID){
        tool.post({'url':'/json/<?=TEMPLATE?>/defpage','data':'defaultpage='+ID,'onComplete':function(r){
                if(r.code == 200) { 
                    $('a.select').html("<?=u::translate('Set as Main Page')?>").removeClass('selected');
                    $('#item'+ID+' .select').html("<?=u::translate('Main Page')?>").addClass('selected');
                } else tool.result(r.code,r.status,r.message,r.fields,r.redirect,r.debug);
            }
        });
    }
    $(document).ready(function() { 
        var items = $.parseJSON('<?=$page->pages?>');
        for(var i in items){
            if(!items[i]) items[i] = {};
            items[i].ID = i;
            item(items[i],'<?=ADMIN?>=3?1:0?>');
        };
        tool.sortable('items','b',{'url':'/json/<?=TEMPLATE."/".implode(",",$params)?>,sort'});
        $('#url').keydown(function(e){
            if((e.keyCode == 13) && $('#url').val() && $('#url').val() != $('#url').attr('data-value')) { // enter
                if(e) e.preventDefault();
                post();
            } else {
                var c = e.keyCode;
                if((c >= 35 && c <= 39) ||(c >= 48 && c <= 57) || (c >= 65 && c <= 90)
                    || c == 8
                    || c == 46
                    || c == 189
                    || c == 190) return true;
                return false;
            }
        }); 
    });
</script>
<?break;
// =============================================================================
// PAGE 
// =============================================================================
case 'page':?>
<?if($page->page->template):?>
<i id="page-info">( URI = <?=$params[1]?>, <?=u::translate('Page Template')?> = <?=$page->page->template?> )</i>
<? include 'templates/'.$page->page->template.'/admin.html'; ?>
<?else:?>
<div id="content" class="templates">
    <h3><?=u::translate('Choose Page Template')?></h3>
    <?foreach (u::templates() as $i):?>
    <div class="template">
        <img src="/templates/<?=$i?>/thumb.png" alt="<?=$i?>" class="template" />
        <span><?=$i?></span>
        <a data-value="<?=$i?>"><?=u::translate('Choose')?></a>
    </div>
    <?endforeach;?>
</div>
<div id="aside" class="selected-template">
    <form methot="post" action="/json/<?=TEMPLATE?>/template" data-complete="complete()">
        <h3><?=u::translate('Page Template')?></h3>
        <div id="selected"></div>
        <input type="hidden" name="page" value="<?=$params[1]?>" >
        <input type="hidden" name="template">
        <label>
            <img class="loader" src="/themes/<?=THEME?>/images/loader.gif" alt="loader" />
            <input type="submit" value="<?=u::translate('Apply Template >')?>" >
            <i>* <?=u::translate('To chage the template after applied, the page must be deleted and recreated entirely.')?></i>
        </label>
    </form>
</div>
<script>
    var complete = function(){ location.href = location.href; };
    $('.template a').click(function(){
        $('#selected').empty()
        .append($('<div class="template">')
        .append($('<img>',{'class':'template','src':$(this).parent().find('img').attr('src')})));
        $('input[name=template]').val($(this).data('value'));
        $('input[type=submit]').fadeIn();
    });
</script>
<?endif;?>
<?break;?>
<?endswitch;?>
<?endif;
// FOOTER
////////////////////////////////////////////////////////////////////////////////
?>
<div class="clearfix"></div>
<div id="footer-admin">
    <div id="footer-container-admin">
        Uygulama version 1.00  
        <a href="http://uygulama.net/docs"><?=u::translate('Documents')?></a> 
        <a href="http://gokercebeci.com/tutorials/uygulama"><?=u::translate('Tutorials')?></a> 
        <a href="http://gokercebeci.com/feedbacks/uygulama"><?=u::translate('Feedbacks')?></a> 
        <a href="https://github.com/gokercebeci/uygulama">Github</a> 
        <a href="http://twitter.com/#!/uygulamaproject">Twitter</a>  
    </div>
</div>

<script src="/lib/js/forma.js"></script>
<script src="/lib/js/droparea.js"></script>
<script src="/lib/tinymce/jquery.tinymce.js"></script>
<link rel="stylesheet" href="/themes/<?=THEME?>/css/forma.css" />
<script>
    $(document).ready(function(){
        
        var params = location.pathname.replace(/\//g,'\\/').split(/,/);
        for(var i in params){
            //console.log(params[i]);
            params[i] = params[i] == '\\/admin\\/page' ? '\\/admin\\/pages' : params[i];
            $('a[href$='+ (i > 0 ? '\\,'+params[i] : params[i]) +']').addClass('selected');
        }        
        
        var p = $('#page').height();
        var w = $(window).height();
        $('#footer-admin').css('position',w > p ? 'fixed' : 'absolute');
        $(window).resize(function(){
            w = $(window).height();
            $('#footer-admin').css('position',w > p ? 'fixed' : 'absolute');
        });
        
        // forma
        $('form').forma();
        
        // tinymce wysiwyg
        $('textarea.wysiwyg').tinymce({
            // Location of TinyMCE script
            script_url : '/lib/tinymce/tiny_mce.js',

            // General options
            theme : "advanced",
            //plugins : "autolink,lists,save,advhr,advlink,,contextmenu,noneditable,nonbreaking,xhtmlxtras,advlist",
            plugins : "paste,inlinepopups,preview,fullscreen",
            // Theme options
            theme_advanced_buttons1 : "pasteword,|,"
                +"bold,italic,underline,strikethrough,sub,sup,|,"
                +"justifyleft,justifycenter,justifyright,justifyfull,|,"
                +"bullist,numlist,|,"
                +"outdent,indent,blockquote,codeblock,hr,|,"
                +"undo,redo,|,"
                +"forecolor,backcolor,"
                +"formatselect,link,unlink,anchor,removeformat,cleanup,code,preview,remove,format,fullscreen",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
                
            body_class : "tinymce",

            setup : function(ed) {
                // Add a custom button
                ed.addButton('codeblock', {
                    title : 'Code Block',
                    image : '/templates/admin/images/codeblock.gif',
                    onclick : function() {
                        // Add you own code to execute something on click
                        ed.focus();
                        //ed.selection.setContent('Hello world!');
                        var uid = ed.dom.uniqueId();
                        var sel = ed.selection.getContent();
                        ed.execCommand('mceReplaceContent',false,'<code id="' + uid + '">' + sel + '</code>');
                    }
                });
            },

            // Example content CSS (should be your site CSS)
            content_css : "/themes/<?=THEME?>/css/wysiwyg.css"
        });
        
    });
</script>
